Repository kokuwaio/k3s-maven-plugin: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, verify, errors

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy --settings=.woodpecker/maven/settings.xml -Pdeploy -DskipTests -Dinvoker.skip
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
  ...

verify:
  steps:
    test:
      image: maven:3.9.10-eclipse-temurin-17
      commands: DOCKER_HOST_IP=$(getent hosts dockerd|awk '{print $1}') mvn verify --settings=.woodpecker/maven/settings.xml -Dsurefire.skipAfterFailureCount=1
    errors:
      depends_on:
      - test
      image: maven:3.9.10-eclipse-temurin-17
  ...

errors:
  depends_on:
  - test
  image: maven:3.9.10-eclipse-temurin-17
  ...

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

fix(lint): fix md issues after markdownlint update
  docs/goal/apply.md
  docs/goal/copy.md
  docs/goal/image.md
  docs/goal/restart.md
  docs/goal/rm.md
  docs/goal/run.md
Due: none

fix(apply): use replica count as rollout metric
  src/main/java/io/kokuwa/maven/k3s/mojo/ApplyMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ApplyMojoTest.java
  src/test/k3s/statefulsetOnDelete/statefulset.yaml
Due: deploy, verify, errors

fix: replace github.com url in `project.url` with kokuwa.io
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-source-plugin from 3.3.1 to 3.4.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.3.1 to 3.4.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.2.0 to 3.3.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.3.0 to 3.3.1
  pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

tests: reenable disabled tests
  src/test/java/io/kokuwa/maven/k3s/mojo/ImageMojoTest.java
Due: verify, errors

chore(deps): update maven docker tag from 3.9.11-eclipse-temurin-17 to 3.9.12-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, verify, errors

feat(just): add just file validator
  .justfile
  .woodpecker/lint.yaml
Due: none

feat: enable waiting for statefulsets with `updateStrategy.type: OnDelete`
  src/main/java/io/kokuwa/maven/k3s/mojo/ApplyMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ApplyMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/mojo/RestartMojoTest.java
  src/test/k3s/deployment/statefulset.yaml
  src/test/k3s/statefulsetOnDelete/statefulset.yaml
Due: deploy, verify, errors

[maven-release-plugin] prepare release 2.0.3 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.45.0 to 1.46.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.1 to 6.0.2
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency net.revelc.code:impsort-maven-plugin from 1.12.0 to 1.13.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.postgresql:postgresql from 42.7.8 to 42.7.9
  src/it/postgresql-with-pvc-and-hostport/pom.xml
Due: verify, errors

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.1 to 3.15.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency org.postgresql:postgresql from 42.7.9 to 42.7.10
  src/it/postgresql-with-pvc-and-hostport/pom.xml
Due: verify, errors

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.2 to 6.0.3
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

feat(apply): add namespace parameter to k3s:apply goal
  docs/goal/apply.md
  src/main/java/io/kokuwa/maven/k3s/mojo/ApplyMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ApplyMojoTest.java
  src/test/k3s/deploymentInNamespace/deployment.yaml
Due: deploy, verify, errors

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.4 to 3.5.5
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.4.0 to 3.5.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

feat: add namespace parameter to `apply` mojo
  docs/goal/apply.md
  pom.xml
  src/main/java/io/kokuwa/maven/k3s/mojo/ApplyMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ApplyMojoTest.java
Due: deploy, verify, errors

[maven-release-plugin] prepare release 2.1.0 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

chore(deps): update maven docker tag from 3.9.12-eclipse-temurin-17 to 3.9.14-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.46.0 to 1.47.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.47.0 to 1.47.1
  .justfile
  .woodpecker/lint.yaml
Due: none

fix: avoid deprecated `withImageNameFilter` method
  src/main/java/io/kokuwa/maven/k3s/util/Docker.java
  src/test/java/io/kokuwa/maven/k3s/util/DockerTest.java
Due: deploy, verify, errors

chore(deps): update com.github.docker-java from 3.7.0 to 3.7.1
  pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.47.1 to 1.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.48.0 to 1.48.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.48.1 to 1.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(ci): update build, use maven mirror from env
  .justfile
  .woodpecker/deploy.yaml
  .woodpecker/maven/registries.yaml
  .woodpecker/maven/settings.xml
  .woodpecker/verify.yaml
Due: deploy, verify, errors

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, pom.xml, src/main/**
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, pom.xml, src/**
