Repository kokuwaio/k3s-maven-plugin: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, verify, errors

.woodpecker/deploy.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/k3s-maven-plugin
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, pom.xml, src/main/**]

steps:

  maven:
    image: maven:3.9.11-eclipse-temurin-17
    commands: mvn deploy --settings=.woodpecker/maven/settings.xml -Pdeploy -DskipTests -Dinvoker.skip
    environment:
      MAVEN_GPG_KEY: {from_secret: woodpecker_gpg_key}
      SONATYPE_ORG_USERNAME: {from_secret: sonatype_org_username}
      SONATYPE_ORG_PASSWORD: {from_secret: sonatype_org_password}

.woodpecker/verify.yaml:

when:
  instance: ci.kokuwa.io
  event: [manual, pull_request]
  path: [.woodpecker/verify.yaml, pom.xml, src/**]

services:
  - name: dockerd
    image: kokuwaio/dockerd:28.2.2
    privileged: true
    ports: [2375, 5432, 8080]

steps:

  test:
    image: maven:3.9.10-eclipse-temurin-17
    commands: DOCKER_HOST_IP=$(getent hosts dockerd|awk '{print $1}') mvn verify --settings=.woodpecker/maven/settings.xml -Dsurefire.skipAfterFailureCount=1

  errors:
    depends_on: [test]
    image: maven:3.9.10-eclipse-temurin-17
    commands: find target/surefire-reports -name '*.xml' ! -exec grep -q -E 'errors="0" skipped="[0-9]+" failures="0"' {} \; -print | sed -e's#target/surefire-reports/TEST-##' -e's/.xml//' | xargs -i -d'\n' sh -c 'echo "\nOutput of failed test {}:\n" && cat target/surefire-reports/TEST-{}.xml'
    when:
      status: failure

chore(deps): update dependency com.google.cloud.tools:jib-maven-plugin from 3.4.5 to 3.4.6
  src/it/pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-gpg-plugin from 3.2.7 to 3.2.8
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-invoker-plugin from 3.9.0 to 3.9.1
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 5.13.2 to 5.13.3
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update org.apache.maven.plugin-tools from 3.14.0 to 3.15.1
  pom.xml
Due: deploy, verify, errors

chore(renovate): ignore cert-manager, disable major updates for slf4j
  renovate.json
Due: none

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 5.13.3 to 5.13.4
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

fix: kubeconfig was not written to host, now also remove in `RemoveMojo`
  src/main/java/io/kokuwa/maven/k3s/mojo/RemoveMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/RunMojo.java
  src/main/java/io/kokuwa/maven/k3s/util/Docker.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ImageMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/mojo/RemoveMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/mojo/RunMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/test/AbstractTest.java
Due: deploy, verify, errors

[maven-release-plugin] prepare release 2.0.1 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: deploy, verify, errors

tests: reenable disabled tests
  src/test/java/io/kokuwa/maven/k3s/mojo/ImageMojoTest.java
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-javadoc-plugin from 3.11.2 to 3.11.3
  pom.xml
Due: deploy, verify, errors

chore(renovate): add group for docker java
  renovate.json
Due: none

chore(deps): update com.github.docker-java from 3.5.3 to 3.6.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.27.0 to 2.28.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.28.0 to 2.29.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-failsafe-plugin from 3.5.3 to 3.5.4
  src/it/pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin from 3.5.3 to 3.5.4
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.postgresql:postgresql from 42.7.7 to 42.7.8
  src/it/postgresql-with-pvc-and-hostport/pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-javadoc-plugin from 3.11.3 to 3.12.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.0 to 3.14.1
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/dockerd docker tag from 28.2.2 to 28.4.0
  .woodpecker/verify.yaml
Due: verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 5.13.4 to 5.14.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 5.14.0 to 6.0.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

fix(images): handle image names `docker.io/busybox` at pulling
  src/main/java/io/kokuwa/maven/k3s/util/Docker.java
  src/test/java/io/kokuwa/maven/k3s/util/DockerTest.java
Due: deploy, verify, errors

fix(log): remove obsolete debug flag, logs are delegated to slf4j-simple
  README.md
  docs/goal/apply.md
  docs/goal/image.md
  docs/goal/restart.md
  docs/goal/rm.md
  docs/goal/run.md
  src/main/java/io/kokuwa/maven/k3s/mojo/K3sMojo.java
Due: deploy, verify, errors

[maven-release-plugin] prepare release 2.0.2 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

chore(deps): update org.apache.maven.plugin-tools from 3.15.1 to 3.15.2
  pom.xml
Due: deploy, verify, errors

Use replica count as rollout metric
  src/main/java/io/kokuwa/maven/k3s/mojo/ApplyMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ApplyMojoTest.java
  src/test/k3s/statefulsetOnDelete/statefulset.yaml
Due: deploy, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.0 to 6.0.1
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.4.2 to 3.5.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency com.google.cloud.tools:jib-maven-plugin from 3.4.6 to 3.5.0
  src/it/pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.1.1 to 3.2.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update com.github.docker-java from 3.6.0 to 3.7.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency com.google.cloud.tools:jib-maven-plugin from 3.5.0 to 3.5.1
  src/it/pom.xml
Due: verify, errors
