Repository kokuwaio/k3s-maven-plugin: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, lint, renovate, just, yaml, markdown, verify, errors

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy --settings=.woodpecker/maven/settings.xml -Pdeploy -DskipTests -Dinvoker.skip
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:42
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    just:
      image: kokuwaio/just:1.45.0
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - .justfile
    yaml:
  ...

renovate:
  image: kokuwaio/renovate-config-validator:42
  depends_on: []

just:
  image: kokuwaio/just:1.45.0
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.47.0
  depends_on: []

verify:
  steps:
    test:
      image: maven:3.9.12-eclipse-temurin-17
      commands: DOCKER_HOST_IP=$(getent hosts dockerd|awk '{print $1}') mvn verify --settings=.woodpecker/maven/settings.xml -Dsurefire.skipAfterFailureCount=1
    errors:
      depends_on:
      - test
      image: maven:3.9.12-eclipse-temurin-17
  ...

errors:
  depends_on:
  - test
  image: maven:3.9.12-eclipse-temurin-17
  ...

[maven-release-plugin] prepare release 2.3.1 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.5.0 to 3.5.1
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

fix: test image digest
  src/test/java/io/kokuwa/maven/k3s/test/AbstractTest.java
Due: verify, errors

chore(deps): update org.junit:junit-bom from 6.1.2 to 6.1.3
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.6 to 3.6.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.15.0 to 3.16.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.codehaus.mojo:tidy-maven-plugin from 1.4.0 to 1.4.1
  pom.xml
Due: deploy, verify, errors

chore(deps): update org.apache.maven.plugin-tools from 3.15.2 to 3.16.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-deploy-plugin from 3.1.4 to 3.2.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-install-plugin from 3.1.4 to 3.2.0
  pom.xml
Due: deploy, verify, errors

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, pom.xml, src/main/**
  lint: any of: .woodpecker/lint.yaml, renovate.json, .justfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  just: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, .justfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, .justfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, pom.xml, src/**
