Repository kokuwaio/k3s-maven-plugin: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, lint, renovate, just, yaml, markdown, verify, errors

.woodpecker/deploy.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/k3s-maven-plugin
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, pom.xml, src/main/**]

steps:

  maven:
    image: maven:3.9.11-eclipse-temurin-17
    commands: mvn deploy --settings=.woodpecker/maven/settings.xml -Pdeploy -DskipTests -Dinvoker.skip
    environment:
      MAVEN_GPG_KEY: {from_secret: woodpecker_gpg_key}
      SONATYPE_ORG_USERNAME: {from_secret: sonatype_org_username}
      SONATYPE_ORG_PASSWORD: {from_secret: sonatype_org_password}

.woodpecker/lint.yaml:

when:
  event: [manual, pull_request, push]
  branch: main
  path: [.woodpecker/lint.yaml, renovate.json, .justfile, "**/*.yaml", "**/*.md"]

steps:

  renovate:
    image: kokuwaio/renovate-config-validator:42
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, renovate.json]]

  just:
    image: kokuwaio/just:1.45.0
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, .justfile]]

  yaml:
    image: kokuwaio/yamllint:v1.37.1
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, "**/*.yaml"]]

  markdown:
    image: kokuwaio/markdownlint:0.47.0
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, "**/*.md", .markdownlint.yaml]]

.woodpecker/verify.yaml:

when:
  instance: ci.kokuwa.io
  event: [manual, pull_request]
  path: [.woodpecker/verify.yaml, pom.xml, src/**]

services:
  - name: dockerd
    image: kokuwaio/dockerd:28.4.0
    privileged: true
    ports: [2375, 5432, 8080]

steps:

  test:
    image: maven:3.9.12-eclipse-temurin-17
    commands: DOCKER_HOST_IP=$(getent hosts dockerd|awk '{print $1}') mvn verify --settings=.woodpecker/maven/settings.xml -Dsurefire.skipAfterFailureCount=1

  errors:
    depends_on: [test]
    image: maven:3.9.12-eclipse-temurin-17
    commands: find target/surefire-reports -name '*.xml' ! -exec grep -q -E 'errors="0" skipped="[0-9]+" failures="0"' {} \; -print | sed -e's#target/surefire-reports/TEST-##' -e's/.xml//' | xargs -i -d'\n' sh -c 'echo "\nOutput of failed test {}:\n" && cat target/surefire-reports/TEST-{}.xml'
    when:
      status: failure

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.50.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update dependency org.apache.maven.plugins:maven-invoker-plugin from 3.9.1 to 3.10.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update maven docker tag from 3.9.14-eclipse-temurin-17 to 3.9.15-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, errors

tests: re-enable disabled tests
  src/test/java/io/kokuwa/maven/k3s/mojo/ImageMojoTest.java
Due: verify, errors

chore(deps): update dependency org.postgresql:postgresql from 42.7.10 to 42.7.11
  src/it/postgresql-with-pvc-and-hostport/pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-invoker-plugin from 3.10.0 to 3.10.1
  pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.50.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.3 to 6.1.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update maven docker tag from 3.9.15-eclipse-temurin-17 to 3.9.16-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-site-plugin from 3.21.0 to 3.22.0
  pom.xml
Due: deploy, verify, errors

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.5 to 3.5.6
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.52.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.1.0 to 6.1.1
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency org.postgresql:postgresql from 42.7.11 to 42.7.12
  src/it/postgresql-with-pvc-and-hostport/pom.xml
Due: verify, errors

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update dependency org.postgresql:postgresql from 42.7.12 to 42.7.13
  src/it/postgresql-with-pvc-and-hostport/pom.xml
Due: verify, errors

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.1.1 to 6.1.2
  pom.xml
  src/it/pom.xml
Due: deploy, verify, errors

chore(deps): update dependency com.google.cloud.tools:jib-maven-plugin from 3.5.1 to 3.5.2
  src/it/pom.xml
Due: verify, errors

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, just, yaml, markdown

chore: update version for new release
  README.md
  pom.xml
Due: deploy, lint, markdown, verify, errors

feat: add debug collection for apply and after tests
  README.md
  docs/goal/apply.md
  docs/goal/debug.md
  src/it/pom.xml
  src/it/traefik/pom.xml
  src/main/java/io/kokuwa/maven/k3s/mojo/ApplyMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/DebugMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/K3sDebugMojo.java
  src/main/java/io/kokuwa/maven/k3s/util/Docker.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ApplyMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/mojo/DebugMojoTest.java
Due: deploy, lint, markdown, verify, errors

feat: add new hostname mojo to determine docker host
  .justfile
  README.md
  docs/goal/hostname.md
  pom.xml
  src/it/traefik/pom.xml
  src/it/traefik/src/test/java/io/kokuwa/maven/k3s/PodIT.java
  src/it/traefik/src/test/k3s/dashboard/ingress.yaml
  src/it/traefik/src/test/k3s/echo/ingress.yaml
  src/it/traefik/src/test/k3s/traefik/ingress.yaml
  src/main/java/io/kokuwa/maven/k3s/mojo/HostnameMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/K3sImageMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/RunMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/HostnameMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/test/MojoExtension.java
Due: deploy, lint, just, yaml, markdown, verify, errors

fix: reviewed image mojo, fixes multiple import issues
  src/main/java/io/kokuwa/maven/k3s/mojo/HostnameMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/ImageMojo.java
  src/main/java/io/kokuwa/maven/k3s/mojo/K3sImageMojo.java
  src/main/java/io/kokuwa/maven/k3s/util/CtrImage.java
  src/main/java/io/kokuwa/maven/k3s/util/Docker.java
  src/main/java/io/kokuwa/maven/k3s/util/DockerPullCallback.java
  src/main/java/io/kokuwa/maven/k3s/util/Image.java
  src/test/java/io/kokuwa/maven/k3s/mojo/ImageMojoTest.java
  src/test/java/io/kokuwa/maven/k3s/test/AbstractTest.java
  src/test/java/io/kokuwa/maven/k3s/util/CtrImageTest.java
  src/test/java/io/kokuwa/maven/k3s/util/DockerTest.java
  src/test/java/io/kokuwa/maven/k3s/util/ImageTest.java
  src/test/resources/hello-world.tar
  src/test/resources/hello-world.tar.old
Due: deploy, verify, errors

feat: increase verbosity of k3s:debug
  src/main/java/io/kokuwa/maven/k3s/mojo/K3sDebugMojo.java
Due: deploy, verify, errors

chore: exclude unused transitive dependency
  pom.xml
  src/main/java/io/kokuwa/maven/k3s/util/CtrImage.java
Due: deploy, verify, errors

[maven-release-plugin] prepare release 2.2.0 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: deploy, verify, errors

chore: update version for new release
  pom.xml
Due: deploy, verify, errors

fix: change default of `disableNetworkPolicy` to `false` because this can timeout services
  docs/goal/run.md
  src/main/java/io/kokuwa/maven/k3s/mojo/RunMojo.java
Due: deploy, lint, markdown, verify, errors

feat: set external hostname in copied kubeconfig
  docs/goal/run.md
  src/main/java/io/kokuwa/maven/k3s/mojo/RunMojo.java
  src/test/java/io/kokuwa/maven/k3s/mojo/RunMojoTest.java
Due: deploy, lint, markdown, verify, errors

[maven-release-plugin] prepare release 2.3.0 [CI SKIP]
  pom.xml
Due: deploy, verify, errors

fix: add hostname to k3s tls-san
  src/main/java/io/kokuwa/maven/k3s/mojo/RunMojo.java
Due: deploy, verify, errors
